{% extends "base.html" %}
{% block content %}

<form class="form" role="form" method="POST">
<div class="col-center-block " >
<h2 class="text-center">发电模块数据查询</h2>
{{ form.hidden_tag() }}
<div class="row"> 
<div class="col-lg-2">              

	<!-- <input size="16" type="text" value="2012-06-15 14:45" readonly> <br>
	<script type="text/javascript">  $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});</script><br> -->


	<label  class="form.label">工单号</label>
	<input  class="form-control"  type="text" name="number" value="" placeholder="请输入工单号进行查询">


	<br>
	<label  class="form.label">时间段</label>
	<input  class="form-control"  type="text" name="starttime" value="" placeholder="开始时间">
	<br>
	<input  class="form-control"  type="text" name="stoptime" value="" placeholder="结束时间">
	<br>
	<label  class="form.label">工具</label>
	<input  class="form-control"  type="text" name="testTool"value=""placeholder="请输入使用工具进行查询">
	<br>
	<div class="col-center-block ">
		<button type="form.submit" class="btn btn-primary " >查询</button>
	</div>
</div>
<div class="col-lg-10">
{% if modules %}
<button class="btn btn-primary" onClick ="$('#tab1').tableExport({type:'excel', separator:';', escape:'false'});" id="buttonExportData" class="ui-btn ui-btn-inline ui-mini ui-shadow ui-corner-all">导出 Excel</button>
<table class="table table-bordered" id="tab1">
 <thead>
    <tr>
      <th>type</th>
      <th>number</th>
      <th>maxPress</th>
      <th>minPress</th>
      <th>press</th>
      <th>maxPressPosition</th>
      <th>minPressPosition</th>
      <th>pressPosition</th>
      <th>minPressPower</th>
      <th>pressPower</th>
      <th>maxBack</th>
      <th>minBcak</th>
      <th>back</th>
      <th>maxBackPosition</th>
      <th>minBackPosition</th>
      <th>backPosition</th>
      <th>minBackPower</th>
      <th>backPower</th>
      <th>testTime</th>
      <th>tester</th>
      <th>testTool</th>
    </tr>
  </thead>
  <tbody>
  	{% for module in modules %}
    <tr>
	<td>{{module.type}}</td>
	<td>{{module.number}}</td>
	<td>{{module.maxPress}}</td>
	<td>{{module.minPress}}</td>
	<td>{{module.press}}</td>
	<td>{{module.maxPressPosition}}</td>
	<td>{{module.minPressPosition}}</td>
	<td>{{module.pressPosition}}</td>
	<td>{{module.minPressPower}}</td>
	<td>{{module.pressPower}}</td>
	<td>{{module.maxBack}}</td>
	<td>{{module.minBcak}}</td>
	<td>{{module.back}}</td>
	<td>{{module.maxBackPosition}}</td>
	<td>{{module.minBackPosition}}</td>
	<td>{{module.backPosition}}</td>
	<td>{{module.minBackPower}}</td>
	<td>{{module.backPower}}</td>
	<td>{{module.testTime}}</td>
	<td>{{module.tester}}</td>
	<td>{{module.testTool}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif%}
</div>
</div>
</div>
</form>
{% include 'flash.html' %}
{% endblock %}

